body{
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}
.containerbody{
    display: flex;
}
.includebody{
    width: 100%;
}
.container {
    max-width: 80%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.section-title {
    font-weight: bold;
    margin-bottom: 10px;
}

label {
    display: block;
    margin-top: 10px;
}

input[type="text"],
input[type="email"],
select,
textarea,
input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

select {
    height: 55px;
}

button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    width: 250px;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}
.btncontrol{
    text-align: center;
    margin: 15px;
}

@media (max-width:1366px) {

}
@media (max-width:1279px) {

}
@media (max-width:768px) {

    .includebody{
        margin-bottom: 100px;
        width: 95%;
    }
    .container{
        width: 95%;
    }

}
@media (max-width:480px) {

}