body{
    background-color: lightgray;
}
.card_user{
    margin: 30px 15px 10px 15px;
    background-image: linear-gradient(to right, #1c4e80, #3383d4);
    border-radius: 15px;
    padding: 10px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 98%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.userinfo{
    color: white;
    margin: 0 25px;
}
#user_Balance{
    font-size: 16px;
    background-color: #3383d4;
    padding: 5px 10px;
    border-radius: 10px;
}
.userinfo a{
    color: orange;
    margin-left: 10px;
}

.statistic{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
    grid-auto-rows: minmax(auto, auto);
    justify-content: center;
    align-items: center;
    margin: 20px;
    padding-bottom: 15px;
}
.card_satstic{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border: #1c4e80 1px solid;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    cursor: pointer;
}
.card1{
    background-image: linear-gradient(to left,#35d968,white);
}
.card2{
    background-image: linear-gradient(to left,#ffba56,white);
}
.card3{
    background-image: linear-gradient(to left,#499eff,white);
}
.card4{
    background-image: linear-gradient(to left,#ff5c78,white);
}
.card_satstic img{
    width: 150px;
    height: 150px;
}
.active_services{
    margin: 15px;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    width: 98%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.active_services h3{
    padding-bottom: 15px;
    border-bottom: lightgray 1px solid;
}
.deiteil_service{
    margin: 17px 0;
}
.single_service{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    padding: 4px;
    border-bottom: black 1px solid;
    cursor: pointer;
}
.showall{
    margin: 5px 0;
    text-align: right;
}
.notifications{
    display: flex;
    justify-content: space-between;
    margin: 15px;
    width: 98%;
}
.left_site,.right_site{
    width: 48%;
}
.Domeins_expiring,.invoices_not_paid,.tickets{
    padding: 10px;
    background-color: white;
    margin: 10px 0;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.title_notification{
    padding: 10px 5px 15px 5px;
    border-bottom: lightgray 1px solid;
}
.textnotification{
    padding: 10px;
    text-align: justify;
}
.btngotodeiteil{
    margin: 10px 0;
    text-align: right;
    padding-right: 10px;
    padding-top: 10px;
    border-top: lightgray 1px solid;
}
.all_tickets{
    height: 300px;
    overflow-y: scroll;
}
.one_ticket{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px;
    padding: 5px 20px;
    border-bottom: lightgray 1px solid;
    cursor: pointer;
}
.info_ticket label{
    margin-left: 15px;
    
}
.status_ticket span{
    padding: 10px;
    color: white;
    font-weight: bold;
    border-radius: 10px;
}
@media (max-width:1366px) {

}
@media (max-width:1279px) {
    .statistic{
        grid-template-columns: repeat(3, 1fr);
    }
}
@media (max-width:768px) {
    .card_user{
        justify-content: center;
    }
    .dashboradimg{
        display: none;
    }
    .statistic{
        grid-template-columns: repeat(2, 1fr);
    }
    .notifications{
        flex-direction: column;
    }
    .left_site,.right_site{
        width: 100%;
    }
}
@media (max-width:480px) {
    .statistic{
        grid-template-columns: repeat(1, 1fr);
    }
}